@{
    Orchard.ContentManagement.ContentItem contentItem = Model.ContentPart.ContentItem;
    string title = Model.Title.ToString();
}

<div class="dir-title">@Html.ItemDisplayLink(title, contentItem)</div>