@{
    Layout.Title = Model.Title;
}

 <div class="article-header">
			<div class="article-header-warp">
			    <div class="article-logo" style="background-position: 0 0"></div>
				<div class="article-tags">Artikel & Tips</div>
				<div class="article-detail">Yang Perlu Bunda Tahu</div>
				</div>
</div>