@{
    Layout.Title = Model.Title;
}
 <div class="article-header">
			<div class="article-header-warp">
			    <div class="article-logo" style="background-position: 0 0"></div>
				<div class="article-tags">Produk prenagen</div>
				<div class="article-detail">semua kebaikan untuk bunda dan janin</div>
				</div>
</div>