@{
    Layout.Title = Model.Title;
}

<div id="QAHeader" class="cfx">
    <div id="QAheader-left">
        <div><img src="/Media/Default/TanyaAhlinya/Doctor.png" alt=""/></div>
    </div>
    <div id="QAheader-right">
        <div class="QAHeader-title">Pakar Kehamilan Prenagen</div>
        <div class="QAHeader-Summary">dr. Hermanto T.J, dr. SpOG.K.</div>
        <div class="QAHeader-desc">Pertanyaan Bunda akan dijawab oleh Dokter Hermanto.             Dokter Hermanto adalah lorem ipsum dolor sit amet constectetur adipisicing elit.             lorem ipsum dolor sit amet constectetur adipisicing elitlorem ipsum dolor sit amet constectetur 
            adipisicing elit. lorem ipsum dolor sit amet constectetur adipisicing elitlorem ipsum dolor 
            sit amet constectetur adipisicing elitlorem ipsum dolor sit amet constectetur adipisicing elit. </div>
    </div>
</div>