@{
    Orchard.ContentManagement.ContentItem contentItem = Model.ContentPart.ContentItem;
    string title = Model.Title.ToString();
}
<div class="article-desc-summary">
<div class="article-title ">@Html.ItemDisplayLink(title, contentItem)</div>