 <div class="article-header">
			<div class="article-header-warp">
			    <div class="article-logo" style="background-position: -86px 0"></div>
				<div class="article-tags">Aktivitas</div>
				<div class="article-detail">Let's get some fun!</div>
				</div>
</div>
@Model.Html