@{
    Layout.Title = Model.Title;
}

 <div class="article-header">
			<div class="article-header-warp">
			    <div class="article-logo" style="background-position: 0 0"></div>
				<div class="article-tags">Direktori</div>
				<div class="article-detail"></div>
				</div>
</div>
 <div class="article-detail-desc">Berikut adalah direktori beberapa kategori yang mungkin bermanfaat untuk anda.
            Silahkan manfaatkan list di bawah sebagai informasi pendukung kebutuhan anda.</div>